.messenger-dropdown-container {
  padding: 0.5rem 1rem;
  width: 400px;
  gap: 1rem;
}

.messenger-dropdown-title-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.messenger-dropdown-title {
  font-size: 2rem;
  margin-right: auto;
}

.messenger-dropdown-title-icons-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-left: auto;
}

.messenger-dropdown-title-icons {
  margin-left: auto;
  font-size: 1.75rem;
  border-radius: 9999px;
  padding: 0.5rem;
}

/* searchbox start */

.searchbox-container {
  height: 1.5rem;
  width: 100%;
  background-color: #636466;
  padding: 0.5rem 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border-radius: 1rem;
}

.searchbox-input {
  outline: none;
  border: none;
  background-color: transparent;
  caret-color: white;
  font-size: 1.1rem;
}

.searchbox-input::placeholder {
  font-size: 1.1rem;
  color: #8f9296;
}

.searchbox-icon {
  font-size: 1.5rem;
}
/* searchbox end  */

/* messengerrow start  */
.messenger-dropdown-row-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  gap: 0.5rem;
  padding: 1rem 0.5rem;
  border-radius: 0.25rem;
  position: relative;
}

.messenger-dropdown-row-container:hover .messenger-dropdown-row-moreoptions {
  display: inline;
}
.messenger-dropdown-row-content {
  display: flex;
  flex-direction: column;
}

.messenger-dropdown-row-moreoptions {
  display: none;
  z-index: 5;
  position: absolute;
  right: 2rem;
  font-size: 1.75rem;
  padding: 0.5rem;
  background-color: slategrey;
  border-radius: 9999px;
  margin-left: auto;
}

.messenger-dropdown-row-moreoptions:hover {
  background-color: violet;
}

.messenger-dropdown-row-isReadCircle {
  margin-left: auto;
  color: blue;
}

.messenger-dropdown-row-content-chatname {
  font-weight: 700;
}
