.creategroup-container {
  display: flex;
  align-items: center;
  background-color: var(--global-primaryLight);
  padding: 0.25rem 1rem;
  gap: 1rem;
  border-radius: 0.5rem;
}

.creategroup-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  gap: 1rem;
  border-radius: 999px;
  margin: 4px 2px;
  padding: 0rem 0.25rem;
  border: 2px solid cornflowerblue;
  height: 2.2rem;
}

.creategroup-button:hover {
  background-color: var(--global-hoverGray);
}

.creategroup-icon {
  color: blue;
  height: 1.5rem;
  width: 1.5rem;
}

.creategroup-label {
  color: lightblue;
  font-size: 1.1rem;
}
