.option-container {
  display: flex;
  gap: 0.5rem;
  border-radius: 0.5rem;
  align-items: center;
  cursor: pointer;
  margin: 0.5rem 0rem;
}

.option-container:hover {
  background-color: var(--global-hoverGray);
}

.option-prompt {
  font-weight: 700;
  flex-grow: 1;
}

.option-prompt-icon {
  color: white;
  border-radius: 999px;
  cursor: pointer;
  padding: 0.25rem;
  background-color: #82817f;
  margin-left: auto;
  width: 1.75rem;
  height: 1.75rem;
}

.option-type-icon {
  border-radius: 999px;
  cursor: pointer;
  background-color: #4a4844;
  height: 2rem;
  width: 2rem;
  padding: 0.25rem;
}

.option-type-icon:hover {
  background-color: red;
}
